// import gridle
@import "~gridle/sass/grid-flex";

// setting up the grid
@include gridle_setup( (
    context : 12,
    gutter-width : 20px,
    direction : ltr,
    // etc...
) );

//BREAKPOINTS
// make the use of media queries really easy
@include gridle_register_state ( small , (
    max-width : 480px 
) );
@include gridle_register_state ( medium , (
    min-width : 481px,
    max-width : 1024px
) ) ;

@include gridle_register_state ( large , (
    min-width : 1025px,
    max-width : 1400px
) ) ;

// even with full custom queries :
@include gridle_register_state ( landscape, (
    query : "(orientation : landscape)"
) );