@import 'abstracts/variables';

.quiz {
    @extend %flex-row-center;
}

.quiz {  
    border: 1px solid #ddd; 
    box-shadow: 1px 1px 1px 2px #ddd; 
    margin-top: 5%; 
    margin-bottom: 2%; 
}

.quiz-content {
    padding: 1em; 

    &__question {
        padding-bottom: 2em; 
    }

    &__answers {
        border-top: 1px solid #EAEAEB;
        padding: 1em; 

        &-single {
            padding: 0.5em; 
            font-family: $secondary-font; 
            font-size: 0.8em; 

            &:hover {
                background-color: #f7f7f8;
            }

            label p{
                display: inline-block; 
                padding-left: 2em; 
            }
        }
    }

    &__submit {
        @extend %flex-row-center;
        padding-bottom: 1em; 

        input {
            border: none; 
            width: 14em; 
            height: 3em; 
            border-radius: 40px/30px; 
            font-size: 12px;
            color: white;  
            padding: 10px; 
            text-transform: uppercase; 

            &:focus {
                outline: none; 
            }

            &:hover {
                background: #333; 
            }
        }
    }

    &__results {
        @extend %flex-row-center;

        &--correct, &--incorrect {
            @extend %flex-col-center;
            background: #f7f7f8;
            width: 100%;
            padding: 1em; 

            div {
                font-family: $secondary-font; 
                @extend %flex-col-center;
                align-items: center;
                
                p {
                    font-size: 0.6em; 
                    font-weight: 700; 
                }

                i {
                    border: 1px solid #333; 
                    border-radius: 50%;
                    padding: 0.6em;  
                }
            } 

            p {
                font-size: 0.9em; 
            }
        }

        &--again {
            @extend %flex-row-center;
            padding-top: 1em; 
            font-family: $secondary-font; 

            span {
                @extend %flex-row-center;
                align-items: center; 
                font-weight: 300; 
                font-size: 0.5em; 
                text-transform: uppercase; 
            }
        }

    }
}

//ANIMATIONS
//Border animation from: https://codepen.io/giana/pen/yYBpVY


